.icons {
  position: relative;
  z-index: 10;
  width: 180px;
  height: 140px;
  /* margin-top: 30px; */
}

.icon-group {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transform: translate(90%, 85%);
}

.icon-sm {
  height: 25px;
}

.icon-cart {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
}

img {
  /* width: 100%; */
  display: inline-block;
}
