.methods-title {
  text-align: center;
  color: #5d647f;
  text-transform: uppercase;
}

.methods-container {
  margin-top: 20px;
}

.list {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 0;
  list-style: none;
}

.list > li {
  display: block;
  height: 30px;
  width: 50px;
  /* border: 1px solid #ff4f19; */
}
