.methods-title {
  text-align: center;
  color: #5d647f;
  text-transform: uppercase;
  font-size: 20px;
}

/* .methods-container {
  margin-top: 20px;
} */

/* .list {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: space-evenly;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
} */

/* .list > li {
  display: block;
  height: 30px;

  
} */

.methods-demoWrapper {
  font-size: 12px;
  text-align: center;
}
