.showcase {
  /* padding: 10px; */
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
}

.showcase-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* margin-top: 30px; */
  height: 100%;
}

.showcase-img {
  width: 200px;
  height: 200px;
}

.showcase-title {
  padding: 0 15px;
  text-align: center;
  color: #5d647f;
  font-size: 20px;
}

.showcase-action {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 79, 25, 0.7);
  background-color: #f1f4f1;
}

.showcase-inner {
  margin-left: auto;
}

.showcase-label {
  font-size: 14px;
}
