.wrapper {
  padding: 10px 0;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
}

.board-wrapper {
  min-height: 360px;
}

.fetch-wrapper {
  margin: 0 2px 0 0;
  /* margin-right: 2px; */
  padding: 2px;
  width: 215px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
}

.fetch-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
