.list {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: space-evenly;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list > li {
  display: block;
  height: 30px;
}

.tabs-content {
  width: 100%;
  height: 50px;
}
